//constant
@hovorcalor:  rgb(122, 117, 117);
@buttonColorHover: rgb(255, 255, 255);
@buttonColor: rgb(20, 1, 1);
@menuColor: rgba(105, 97, 97, 0.884);
@textColor: rgb(14, 10, 10);
@startTextColor:rgb(161, 160, 160);
body , html{
    overflow: auto;
    overflow-x: hidden;
    background: url(../img/cool-background.png) no-repeat center;
    background-size: cover;
}
html{
    scroll-behavior: smooth;
}
.link{
    display: inline;
    &:hover{
        color: @hovorcalor;
    }
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    padding: 10px;
    color: rgb(190, 187, 187);
}
.btn {
    box-shadow: none !important;
    border: none;
    box-shadow: none;
    text-align: center;
    background: transparent;
  }
//constant 

.start-point{
     //display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/Start-payg.jpg) no-repeat center;
    background-size: cover;
    z-index: 100;
    text-align: center;
    opacity: 1;
    transition: all 0.8s;

    &-main{
        position: relative;
        top: 30%;
        font-family: 'BhuTuka Expanded One', cursive;
        font-family: 'BioRhyme Expanded', serif;
        font-size: 30px;
        padding: 10px;
        line-height: 30px;
    }
    &-text1{
        background: -webkit-linear-gradient(rgba(224,224,224,1) -38%, rgb(53, 53, 53) 65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        visibility: collapse;
        opacity: 0;
        transition: all 1.5s;
    }
    &-text2{
        background: -webkit-linear-gradient(0deg, rgba(224,224,224,1) -38%, rgb(61, 61, 61) 77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: @startTextColor ;
        visibility: collapse;
        opacity: 0;
        transition: all 1.5s;
    }
    &-btn{
        font-size: 20px;
        color: @startTextColor;
        visibility: collapse;
        opacity: 0;
        transition: all 1.0s;
        background-color: rgba(252, 252, 252, 0.080);
    }
}
.start-open{
    visibility: visible;
    opacity: 1;
}
.start-close{
    opacity: 0;
    visibility: collapse;
    z-index: 0;
}

.header{
    z-index: 89;
    position: fixed;
    bottom: inherit;
    width: 100%;
    top: 0;
    left: 0;
    &-contact{
        color: @buttonColor;
        transition: all 0.3s;
        position: relative;
        &:hover {
            color:@buttonColorHover;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: all 0.3s;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-top-style: solid;
            border-bottom-style: solid;
            border-top-color: @buttonColorHover;
            border-bottom-color: @buttonColorHover;
            transform: scale(0.1, 1);
          }
        &:hover::before {
            opacity: 1; 
            transform: scale(1, 1); 
          }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;    
            height: 100%;
            z-index: 1;
            transition: all 0.3s;
          }
        span{
            transition: all 0.3s;
        }
        &:hover span {
            letter-spacing: 2px;
          }
        &:hover::after {
            opacity: 0; 
            transform: scale(0.1, 1);
            
          }
    }
    .btn-list{
        padding-top: 15px;
        @media screen and (min-width: 767.9px) {
            display: none;
        }
        .burger {
            position: relative;
            display: block;
            width: 28px;
            height: 4px;
            margin: 0 auto;
            background: @buttonColor;
            transform: skew(0deg);
            transition: all .275s;
            &:after,&:before {
        	content: '';
	        display: block;
	        height: 100%;
	        background: @buttonColor;
	        transition: all .275s;
            }
            &:after {
                transform: translateY(-12px) translateX(0px) skew(0deg);
            }
            
            &:before {
                transform: translateY(-16px) skew(0deg);
            }
        }
    }
    &-main{
        padding: 5px;
        background-color: @menuColor;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 50 ;
    }
    &-manu{
        &-list{
            margin-top: 5px;
            overflow: hidden;
            height: 0px;
            display: block;
            width: 70%;
            background: @menuColor;
            align-items: center;
            position: absolute;
            transition: height 0.3s ease-out;
        }
        @media screen and (max-width: 767.9px) {
            display: none;
        }
    }
    &-logo{
            width: 80px;
            height: 30px;
    }
}


// popup start
.Popup-model {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    &[open] {
        display: flex;
      }
    &-inner {
        background-color: white;
        border-radius: 0.5em;
        max-width: 600px;
        padding: 2em;
        margin: auto;
      } 
    &-link{
        text-align: center;
    }
    &-close{
        font-size: 25px;
    }
    .info-bloke{
        padding: 10px;
        img{
            @media screen and (max-width: 367.9px) {
                display: none;
            }
        }
        p{
            display: inline-block;
        };
    }
    &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
  }
  }


  #Popup-modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    background-color: black;
    opacity: 0.5;  
  }
// popup end

.switch-panel{
    margin-top: 45px;
}

.about{
    text-align: center;
}

.skills{
    text-align: center;
    img{
        max-width: 100px;
        max-height: 100px;
    }
}

.project{
    text-align: center;
}

.futer{
    background-color: @menuColor;
    width: 100%;
    height: 100%; 
    text-align: center;
    .sorse-title{
        text-align: center;
    }
    img{
        width: 60px;
        height: 50px;
    }
    p{
        display: inline;
        color: @textColor;
    }
}

//status chang
.is-open  { //menu list 
    display: block;
    height: 100px;
    @media screen and (min-width: 767.9px) {
        display: none;
    }
    }
//status chang