body,
html {
  overflow: auto;
  overflow-x: hidden;
}
.link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  padding: 10px;
  color: #bebbbb;
}
.link:hover {
  color: #7a7575;
}
.btn {
  box-shadow: none !important;
  border: none;
  box-shadow: none;
  text-align: center;
  background-color: transparent;
}
.header {
  position: fixed;
  bottom: inherit;
  width: 100%;
  top: 0;
  left: 0;
}
.header-contact {
  color: #140101;
  transition: all 0.3s;
  position: relative;
}
.header-contact:hover {
  color: #ffffff;
}
.header-contact::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  transform: scale(0.1, 1);
}
.header-contact:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.header-contact::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.header-contact span {
  transition: all 0.3s;
}
.header-contact:hover span {
  letter-spacing: 2px;
}
.header-contact:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
.header .btn-list {
  padding-top: 15px;
}
@media screen and (min-width: 767.9px) {
  .header .btn-list {
    display: none;
  }
}
.header .btn-list .burger {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: #140101;
  transform: skew(0deg);
  transition: all 0.275s;
}
.header .btn-list .burger:after,
.header .btn-list .burger:before {
  content: '';
  display: block;
  height: 100%;
  background: #140101;
  transition: all 0.275s;
}
.header .btn-list .burger:after {
  transform: translateY(-12px) translateX(0px) skew(0deg);
}
.header .btn-list .burger:before {
  transform: translateY(-16px) skew(0deg);
}
.header-main {
  padding: 5px;
  background-color: #e27f7f;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50 ;
}
.header-manu-list {
  margin-top: 5px;
  overflow: hidden;
  height: 0px;
  display: block;
  width: 70%;
  background: #e27f7f;
  align-items: center;
  position: absolute;
  transition: height 0.3s ease-out;
}
@media screen and (max-width: 767.9px) {
  .header-manu {
    display: none;
  }
}
.header-logo {
  width: 80px;
  height: 30px;
}
.contact-popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(128, 128, 128, 0.397);
  transition: all 0.5s ease;
}
.contact-popup .popup_close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}
.contact-popup .popup-main {
  position: fixed;
  width: 50%;
  height: 50%;
  left: 20%;
  top: 20%;
  background-color: beige;
}
.is_popup_open {
  display: block;
}
.shitch-panel {
  margin-top: 70px;
}
.about {
  text-align: center;
}
.skills {
  text-align: center;
}
.projects {
  text-align: center;
}
.is-open {
  display: block;
  height: 100px;
}
@media screen and (min-width: 767.9px) {
  .is-open {
    display: none;
  }
}
