body,
html {
  overflow: auto;
  overflow-x: hidden;
  background: url(../img/cool-background.png) no-repeat center;
  background-size: cover;
  font-family: 'Noto Serif', serif;
}
html {
  scroll-behavior: smooth;
}
.link {
  font-size: 17px;
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: #d6d6d6;
}
.link:hover {
  color: rgba(141, 140, 140, 0.699);
}
.btn {
  font-size: 18px;
  font-weight: 500;
  box-shadow: none !important;
  border: none;
  box-shadow: none;
  text-align: center;
  background: transparent;
}
.start-point {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/Start-payg.jpg) no-repeat center;
  background-size: cover;
  z-index: 100;
  text-align: center;
  opacity: 1;
  transition: all 0.8s;
}
.start-point-main {
  position: relative;
  top: 30%;
  font-family: 'BhuTuka Expanded One', cursive;
  font-family: 'BioRhyme Expanded', serif;
  font-size: 30px;
  padding: 10px;
  line-height: 30px;
}
.start-point-text1 {
  background: -webkit-linear-gradient(#e0e0e0 -38%, #353535 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: collapse;
  opacity: 0;
  transition: all 1.5s;
}
.start-point-text2 {
  background: -webkit-linear-gradient(0deg, #e0e0e0 -38%, #3d3d3d 77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #a1a0a0;
  visibility: collapse;
  opacity: 0;
  transition: all 1.5s;
}
.start-point-btn {
  font-size: 20px;
  color: #a1a0a0;
  visibility: collapse;
  opacity: 0;
  transition: all 1s;
  background-color: rgba(252, 252, 252, 0.08);
}
.start-open {
  visibility: visible;
  opacity: 1;
}
.start-close {
  opacity: 0;
  visibility: collapse;
  z-index: 0;
}
.header {
  z-index: 89;
  position: fixed;
  bottom: inherit;
  width: 100%;
  top: 0;
  left: 0;
}
.header-contact {
  color: #140101;
  transition: all 0.3s;
  position: relative;
}
.header-contact:hover {
  color: #ffffff;
}
.header-contact::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  transform: scale(0.1, 1);
}
.header-contact:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.header-contact::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.header-contact span {
  transition: all 0.3s;
}
.header-contact:hover span {
  letter-spacing: 2px;
}
.header-contact:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
.header .btn-list {
  padding-top: 15px;
}
@media screen and (min-width: 767.9px) {
  .header .btn-list {
    display: none;
  }
}
.header .btn-list .burger {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: #140101;
  transform: skew(0deg);
  transition: all 0.275s;
}
.header .btn-list .burger:after,
.header .btn-list .burger:before {
  content: '';
  display: block;
  height: 100%;
  background: #140101;
  transition: all 0.275s;
}
.header .btn-list .burger:after {
  transform: translateY(-12px) translateX(0px) skew(0deg);
}
.header .btn-list .burger:before {
  transform: translateY(-16px) skew(0deg);
}
.header-main {
  padding: 5px;
  background-color: rgba(105, 97, 97, 0.9);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50 ;
}
.header-manu-list {
  margin-top: 5px;
  overflow: hidden;
  height: 0px;
  display: block;
  width: 70%;
  background: rgba(105, 97, 97, 0.9);
  align-items: center;
  position: absolute;
  transition: height 0.3s ease-out;
}
@media screen and (max-width: 767.9px) {
  .header-manu {
    display: none;
  }
}
.header-logo {
  width: 80px;
  height: 30px;
}
.Popup-model {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
}
.Popup-model[open] {
  display: flex;
}
.Popup-model-inner {
  background-color: white;
  border-radius: 0.5em;
  max-width: 600px;
  padding: 2em;
  margin: auto;
}
.Popup-model-link {
  text-align: center;
}
.Popup-model-close {
  font-size: 25px;
}
.Popup-model .info-bloke {
  padding: 10px;
}
@media screen and (max-width: 367.9px) {
  .Popup-model .info-bloke img {
    display: none;
  }
}
.Popup-model .info-bloke p {
  display: inline-block;
}
.Popup-model-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
#Popup-modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: black;
  opacity: 0.5;
}
.switch-panel {
  margin-top: 45px;
}
.about {
  text-align: center;
}
.skills {
  text-align: center;
}
.skills img {
  margin: 5px;
  max-width: 80px;
  max-height: 80px;
}
.skills-box {
  background: rgba(170, 169, 169, 0.637);
  padding: 1rem 1rem;
  margin: 10px;
  transition: all 0.5s ease;
  color: #41403E;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.329);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.project {
  text-align: center;
}
.futer {
  background-color: rgba(105, 97, 97, 0.9);
  width: 100%;
  height: 100%;
  text-align: center;
}
.futer .sorse-title {
  text-align: center;
}
.futer img {
  width: 60px;
  height: 50px;
}
.futer p {
  display: inline;
  color: #0e0a0a;
}
.is-open {
  display: block;
  height: 100px;
}
@media screen and (min-width: 767.9px) {
  .is-open {
    display: none;
  }
}
