body,
html {
  overflow: auto;
  overflow-x: hidden;
  background: url(../../img/cool-background.png) no-repeat center;
  background-size: cover;
  font-family: 'Montserrat' sans-serif;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
.link {
  font-size: 17px;
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Cormorant', serif;
  font-weight: 800;
  color: #d6d6d6;
}
.link:hover {
  color: rgba(141, 140, 140, 0.699);
}
.btn {
  font-size: 18px;
  font-weight: 500;
  box-shadow: none !important;
  border: none;
  box-shadow: none;
  text-align: center;
  background: transparent;
}
.header {
  z-index: 89;
  position: fixed;
  bottom: inherit;
  width: 100%;
  top: 0;
  left: 0;
}
.header-contact {
  color: #140101;
  transition: all 0.3s;
  position: relative;
}
.header-contact:hover {
  color: #ffffff;
}
.header-contact::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  transform: scale(0.1, 1);
}
.header-contact:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.header-contact::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.header-contact span {
  transition: all 0.3s;
}
.header-contact:hover span {
  letter-spacing: 2px;
}
.header-contact:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
.header .btn-list {
  padding-top: 15px;
}
@media screen and (min-width: 767.9px) {
  .header .btn-list {
    display: none;
  }
}
.header .btn-list .burger {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: #140101;
  transform: skew(0deg);
  transition: all 0.275s;
}
.header .btn-list .burger:after,
.header .btn-list .burger:before {
  content: '';
  display: block;
  height: 100%;
  background: #140101;
  transition: all 0.275s;
}
.header .btn-list .burger:after {
  transform: translateY(-12px) translateX(0px) skew(0deg);
}
.header .btn-list .burger:before {
  transform: translateY(-16px) skew(0deg);
}
.header-main {
  padding: 5px;
  background-color: rgba(105, 97, 97, 0.9);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50 ;
}
.header-manu-list {
  margin-top: 5px;
  overflow: hidden;
  height: 0px;
  display: block;
  width: 70%;
  background: rgba(105, 97, 97, 0.9);
  align-items: center;
  position: absolute;
  transition: height 0.3s ease-out;
}
@media screen and (max-width: 767.9px) {
  .header-manu {
    display: none;
  }
}
.header-logo {
  width: 80px;
  height: 30px;
}
.mainPage {
  text-align: center;
  margin-top: 70px;
}
.mainPage ul {
  text-align: left;
}
.mainPage ul li {
  font-size: 16px;
}
.mainPage img {
  text-align: center;
  margin: 70px;
  width: 500px;
  height: auto;
}
@media screen and (max-width: 615.9px) {
  .mainPage img {
    width: 300px;
  }
}
.mainPage p {
  font-size: 19px;
}
.mainPage h3 {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}
.mainPage h3.backgroundH3 {
  position: relative;
  z-index: 1;
}
.mainPage h3.backgroundH3:before {
  border-top: 2px solid #8a8686;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
.mainPage h3.backgroundH3 span {
  background: #a8a5a5;
  padding: 0 15px;
}
