.soft-tab{
    display: none;
    width: 100%;
}
.hard-tab{
    display: none;
    width: 100%;
}
.tab-on{
    display: block;
}
.btn-hard{
    text-align: center;
}
.btn-soft{
    text-align: center;
}