.soft-tab{
    display: none;
    width: 100%;
}
.hard-tab{
    display: none;
    width: 100%;
}
.tab-on{
    display: block;
}
.btn-hard{
    flex: 0  0 auto;
    opacity: 1;
    width: 50%;
    height: 400px;
    background: url(../img/HardWollpaypar.jpg) no-repeat center;
    background-size: 1200px 700px;
    text-align: center;
    transition: all 1s;
}
.btn-hard-active{
    width: 90%;
}
.btn-hard-inactive{
    width: 10%;
    opacity: 0.2;
}
.btn-soft{
    background-color: rgba(0, 0, 255, 0.473);
    opacity: 1;
    width: 50%;
    background: url(../img/SoftWollpayper.jpg) no-repeat center;
    background-size: 1300px 700px;
    flex: 0  0 auto;
    text-align: center;
    transition: all 1s;
}
.btn-soft-active{
    width: 90%;
}
.btn-soft-inactive{
    width: 10%;
    opacity: 0.2;
}

